.shadowbox {
  height: 100%;
}

.productDetails {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

img {
  max-width: 200px;
  margin-bottom: 15px;
}

.title {
  margin-bottom: 20px;
  text-align: center;
}

.subtitle {
  text-align: center;
  color: gray;
  font-weight: 300;
}

.detailSection {
  border-bottom: 1px solid gray;
  padding: 15px;
  width: 100%;
  
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 -10px 0;
}

.tag {
  padding: 5px 10px;
  font-weight: 300;
  color: gray;
  border-radius: 2px;
  border: 1px solid gray;
  margin: 0 10px 10px 0;
}

.spacer {
  flex: 1;
  min-height: 200px;
}